<section id="freelancing" class="animate__animated animate__fadeInUp">
  <h2>Freelancing</h2>
  <div class="video-cards">
    <div class="video-card">
      <h3>VR Unity Project Upgrade for German Fraport Airport, e-Point</h3>
      <p><em>Jun 2024 — Nov 2024 | Remote</em></p>
      <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/U6li63-H0Y0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p>Worked as an external partner for e-Point, serving as a Senior Unity Developer to upgrade a VR Unity project for German Fraport Airport, enhancing functionality, compatibility, and user experience.</p>
    </div>
    <div class="video-card">
      <h3>Super Pokemon Bros, iConnect</h3>
      <p><em>Sep 2024 — Oct 2024 | Remote</em></p>
      <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/fU8lNrKd_2s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p>Solo developed a fan-based game combining Super Mario Bros mechanics with a Pokémon theme for Pokefest 2, hosted by iConnect Technology stores. Played by over 200 unique players, delivering a unique and engaging experience.</p>
    </div>
  </div>
</section>
